/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body {
    margin: 8px !important;
    background-image: url('assets/frompdf/13.png');
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
    padding: 0;
    /* font-family: "Rowdies", sans-serif; */
    font-family: "Protest Strike", sans-serif;
}

.darkgreen {
    color: #275025;
}

.lightgreen {
    color: #779035;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }